/* hijau #024947 */

/* cetak laporan css */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 11pt "Roboto";
  }
  
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  .page {
    width: 21.5cm;
    min-height: 33cm;
    /* padding: 2cm; */
    padding: 1cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .subpage {
    /* padding: 1cm; */
    /* border: 5px red solid; */
    /* height: 256mm; */
    outline: 0cm #FFEAEA solid;
  }
  
  @page {
    size: F4;
    margin: 0;
  }
  
  @media print {
    .page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
    }
    .black-border.table-bordered td, .black-border.table-bordered th {
        border: 1px solid #000;
    }
    .table-borderless td, .table-borderless th {
        border: 0px none transparent !important;
    }
    .table td, .table th{
        border-top: transparent;
    }
    .table-bordered th,
  .table-bordered td {
    border: 1px solid #000 !important;
  }
    
  }

/* dishub tabel */
.container{
    padding: 0px
}
.body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
}
.space-top-table{
    width: 150px;
    color: transparent
}
.top-info{
    font-size: 10pt;
}

.login .button {
    margin-top: 30px;
}
.table th{
    vertical-align: middle;
    text-align: center;
}
.table-sm td, .table-sm th {
    padding: .1rem;
}
td.uppercase{
    font-variant: uppercase;
}
p{
    margin-bottom: 0px !important
}

.dishub{
    margin: 50px
}
.black-border{
   
}
.black-border.table-bordered td, .black-border.table-bordered th {
    border: 1px solid #000;
}
.table-borderless td, .table-borderless th {
    border: 1px none #000;
}
.text-center{
    text-align: center
}
.text-left{
    text-align: left
}
.text-right{
    text-align: right
}
.top-right-title{
    font-weight: bold;
    font-variant: uppercase;
    border-bottom : 2px solid #000
}
.width-4percent{
    width: 4%
}
.width-20percent{
    width: 20%
}
